* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    font-weight: normal;
    background-color: #2C2C2C;
}

/* Header */
.site-header {
    background: #23371A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 65px;
    color: #FFFFFF;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    letter-spacing: .2px;
    margin: 25px;
}

.logo {
    width: 34px;
    height: 34px;
    display: flex;
    place-items: center;
    border-radius: 999px;
}

.logo-image {
    width: 100%;
}

.image-header {
    background-image: url("/skogshotellet/images/StockSnap_ZBALUWF8O12.webp");
    background-size: fill;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.brand-name {
    font-size: 18px;
}

/* Hamburger */
.menu-btn {
    justify-items: center;
    border: 0;
    background: rgba(0, 0, 0, 0.65);
    color: #FFFFFF;
    width: 44px;
    height: 44px;
    cursor: pointer;
    display: none;
    margin: 10px;
}

.menu-btn:focus-visible {
    outline: 2px solid rgb(255, 255, 255);
    outline-offset: 3px;
}

.burger {
    display: block;
    width: 22px;
    height: 2px;
    background: #FFFFFF;
    position: relative;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 2px;
    background: #FFFFFF;
}

.burger::before {
    top: -7px;
}

.burger::after {
    top: 7px;
}

/* Nav */
.site-nav {
    background: #10170F;
    display: flex;
    gap: 44px;
    justify-content: center;
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Main */

/* Index */

.main-content {
    background-color: #D5D5D5;
}

.content {
    width: 70vw;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 0px 40px 0px;
}

.content-header {
    text-align: center;
    color: black;
    margin: 0 0 25px 0;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: stretch;
}

.card {
    background: #274718;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 22px 22px 18px;
    min-height: 220px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .15);
}

.card h2 {
    margin: 0 0 14px;
    font-size: 14px;
    letter-spacing: .8px;
}

.card p {
    margin: 0;
    line-height: 1.35;
    opacity: .92;
    font-size: 12px;
}

.content-image {
    width: 100%;
    max-width: 650px;
    border-radius: 10px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .15);
}

.content-image-wrapper {
    margin: 25px auto;
    width: 60%;
    display: flex;
    justify-content: center;
}

/* Book */

.form-card {
    background: #274718;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 22px 22px 18px;
    min-height: 260px;
    max-width: 950px;
    min-width: 320px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .15);
    width: 50%;
    margin: 0 auto;
}

fieldset {
    border: none;
}

input {
    height: 30px;
}

.book-form {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 5px;
}

.date-section {
    display: flex;
    gap: 2rem;
}

.date-div {
    display: flex;
    flex-direction: column;
}

.book-btn {
    margin: 15px 0px 15px 0px;
    width: 65px;
    height: 25px;
    border-radius: 5px;
    border-style: none;
}

/* Find */

iframe {
    width: 100%;
    height: 450px;
    border: none;
}

.map-card {
    border-radius: 10px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .15);
    border: 2px solid rgba(0, 0, 0, .15);
    overflow: hidden;
}

.map-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.find-card {
    align-self: center;
}

/* About */

.about-cards>.card:first-child {
    grid-row: span 2;
}

/* Footer */
.site-footer {
    max-width: 100%;
    color: #CDCDCD;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    padding: 22px 18px;
    font-size: 12px;
}

/* Mobil */
@media (max-width: 720px) {

    .site-header {
        margin: 0 auto;
        border-radius: 0;
    }

    .content {
        padding: 18px 14px 24px;
        width: 90vw;
    }

    .content-image-wrapper {
        width: 90%;
    }

    .form-card {
        width: 100%;
    }

    .menu-btn {
        display: block;
    }

    /* Navigation drawer */
    .site-nav {
        display: none;
        flex-direction: column;
        gap: 20px;
    }

    .site-nav.open {
        display: flex;
        text-align: center;
    }

    .nav-link {
        text-decoration: none;
    }

    .cards {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .content {
        max-width: 100vw;
    }

    .date-section {
        display: block;
    }

    .site-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}